@import '../../../styles.scss';

.qr-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  padding: 1.6rem;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 31rem;
  width: 100%;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .card {
    img {
      border-radius: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      width: 100%;
      max-width: 28.8rem;
      margin: 0 auto;
    }

    .content {
      padding: 3rem 1rem;
      text-align: center;

      h2 {
        font-weight: 900;
        line-height: 1.2;

        @media (max-width: $small-mobile-width) {
          font-size: 1.9rem;
        }
      }

      p {
        font-size: 1.6rem;

        @media (max-width: $small-mobile-width) {
          font-size: 1.4rem;
        }
      }
    }
  }
}
